@{
    ViewData["Title"] = "Campaigns";
}

<link rel="stylesheet" href="~/css/index.css" />
<link rel="stylesheet" href="~/css/main.css">

<div class="news_container">
    <div class="container">
        <div class="col-md-12">
            <div class="tabs filter">
                <div class="tab_body" style="padding-top:0; border-top: none;">
                    <div class="tab news_tab">

                        <h1 class="news_name" style="font-weight: bolder;">(Campaigns) Coming Soon</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>